<!-- Footer template -->

<div class="container-fluid bg-solaru pr-5 pl-5 pt-3">
    <div class="container text-center">
        <img src="{{ url_for('static', filename='/img/logo-white-lema.png') }}" alt="Logo" id="logo">
    </div>
    <div class="container mt-3">
        <div class="text-center">
            <p>Liscence: MIT</p>
        </div>
        <div class="separator w-100 mt-3"></div>
        <div class="row p-4">
            <div class="col text-center">
                Created by <a href="#">@EmWeb</a> - Made in Mexico
            </div>
        </div>
    </div>
</div>