/* MAIN CSS FILES */

/* BASE */
html .body {
    color: white;
    background-color: #2e2e2e;
}

.bg-solaru {
    color: white;
    background-image: linear-gradient(#EB8826, #EB4E1E);
}

.separator {
    width: 100%;
    height: 3px;
    background-image: linear-gradient(#2e2e2e, grey);
}

/* BASE */


/* HEADER */
#header {
    box-shadow: 0px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.navbar {
    padding: 0.25rem 3rem;
    background-image: linear-gradient(#EB8826, #EB4E1E);
}

.navbar .navbar-toggler {
    color: #666;
}

.navbar img {
    width: 95px;
}

.navbar .nav-link {
    height: 100%;
    color: white;
}

.navbar .nav-link:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

/* HEADER */


/* INFO */

#benefits .sun-benefit {
    margin-bottom: 1rem;
}

#benefits figure {
    height: 70%;
}

@media screen and (max-width:998px) {
    #benefits figure {
        height: auto;
        max-height: 75%;
    }
}

#benefits img {
    max-width: 180px;
    max-height: 180px;
}

.wrapper-text {
    height: 45%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

/* INFO */


/* CARD */

#app {
    margin-top: 50px;
    margin-bottom: 50px;
}

#app .card {
    border-radius: 5px;
    background-color: black;
}

#app .card-imput .btn {
    margin-top: 10px;
    color: white;
    border-radius: 10px;
    background-image: linear-gradient(#EB8826, #EB4E1E);
}

#app .card-imput .form-group {
    margin-bottom: 5px;
    display: grid;
    justify-content: left;
}

#app .card-imput .form-control {
    margin-bottom: 0;
}

#app .card-imput .control-label {
    margin-right: 10px;
    margin-bottom: 2px;
}

#app .btn:hover {
    color: white;
    background-color: rgba(255, 255, 255, 0.1);
}

#app .badge {
    width: 100%;
    padding: 12px 5px;
    margin-bottom: 1em;
    font-size: 80%;
    font-weight: 670;
    color: #6c757d;
    border-radius: 2px;
    background-color: white;
}

#app .btn-info {
    height: 100%;
    display: flex;
    align-items: center;
    text-align: center;
}

#app .help-block {
    color: #eb6e22 !important;
    text-decoration: underline !important;
}

#app .more-info {
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    background-color: transparent;
}

#app .more-info:hover {
    cursor: pointer;
}

/*  CARD */


/* PLOTS */

#app .plot {
    margin: 0 auto;
}

/* PLOTS */


/* MODAL */

.modal {
    color: black;
}

/* MODAL */


/* FOOTER */
footer #footer {
    color: white;
    background-image: linear-gradient(#EB8826, #EB4E1E);
}

#footer #logo {
    width: 110px;
}

#footer p {
    font-size: small;
}

#footer a {
    color: white;
    text-decoration: none;
}

#footer a:hover {
    color: white;
    text-decoration: underline;
}

/* FOOTER */