<!-- Post-Template -->

{% extends 'base.html' %}
{% import 'components/macro.html' as macro %}


{% block content %}
<!-- /Main info -->
<section id="app">
    <h1 class="text-center mb-5">Solaru App®</h1>
    <div class="container">
        {% if calc.is_active %}
        <div class="row">
            <div id="card-info" class="col-12 col-md-7 col-xl-4">
                <div class="card card-imput pb-1 p-4 mb-3">
                    <div class="container mb-2 p-0 text-center">
                        <h3 class="m-0">Resultados</h3>
                        <div class="">(Valores Anuales)</div>
                        <div class="division"></div>
                    </div>
                    <div class="container text-left mt-2">
                        <p>Esta es la oportunidad que el sol te presenta,
                            conoce el potencial solar de tu hogar:</p>
                    </div>
                    <div class="container d-flex flex-column p-1">

                        {{ macro.render_data_form('Energía producida:', calc.total_output, ' kWh') }}
                        {{ macro.render_data_form('Ahorro potencial:', calc.total_saving, ' MXN') }}
                        {{ macro.render_data_form('Retorno de inversión:', calc.period_return, ' Años') }}
                        {{ macro.render_data_form('CO2 evitado:', calc.co2, ' kg') }}

                        <a class="btn bg-solaru p-1" href="{{ url_for('index') }}">
                            Nuevo cálculo
                        </a>
                    </div>
                </div>
            </div>
            <div id="systemInfo" class="col-12 col-md-5 col-xl-8 p-6">
                <div class="container mb-2">
                    <h4 class="text-center">Características del sistema</h4>
                </div>
                <div class="wrapperResult">
                    <figure>
                        <img src="{{ url_for('static', filename='./img/post-pv.png') }}" alt="Panele Solar">
                    </figure>
                    <div class="wrapperResult-info">
                        <h5 class="titleResult">Módulos fotovoltaicos</h5>
                        <div class="division"></div>
                        <p><span class="subResult">Número</span>: {{ calc.num_modules }} [unidades]</p>
                        <p><span class="subResult">Potencia</span>: {{ calc.power_modules }} [Wp]</p>
                    </div>
                </div>
                <div class="wrapperResult">
                    <figure>
                        <img src="{{ url_for('static', filename='./img/post-inversor.png') }}" alt="Inversor">
                    </figure>
                    <div class="wrapperResult-info">
                        <h5 class="titleResult">Inversores</h5>
                        <div class="division"></div>
                        {% if calc.name_inverter == 'ABB__MICRO_0_3_I_OUTD_US_240__240V_' %}
                        <p><span class="subResult">Número</span>: {{ calc.num_inverters }} micro inversores</p>
                        <p><span class="subResult">Potencia: </span> {{ calc.power_inverter }} [W]</p>
                        {% else %}
                        <p><span class="subResult">Número</span>: {{ calc.num_inverters }} [unidades]</p>
                        <p><span class="subResult">Potencia</span>(mínima): {{ calc.power_inverter }} [W]</p>
                        {% endif %}
                    </div>
                </div>
                <div class="wrapperResult">
                    <figure>
                        <img src="{{ url_for('static', filename='./img/post-money.png') }}" alt="Dinero">
                    </figure>
                    <div class="wrapperResult-info">
                        <h5 class="titleResult">Costo aproximado</h5>
                        <div class="division"></div>
                        <p><span class="subResult">$</span>: {{ calc.cost_system }} MXN</p>
                    </div>
                </div>
            </div>
            <div id="plots" class="col-12">
                <div class="container mt-5 mb-5">
                    <h3 class="text-center">
                        Resumen de desempeño
                    </h3>
                    <div class="division"></div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-7 col-lg-8 pb-5">
                        <div id="savings-plot" class="plot"></div>
                    </div>
                    <div class="col-12 col-md-5 col-lg-4 pb-5">
                        <div id="savings-pie" class="plot"></div>
                    </div>
                    <div class="col-12 pb-5">
                        <div id="energy-production" class="plot"></div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</section>
<!-- /Main info -->

{% endblock  %}


<!-- GRAPHS -->
{% block scripts %}
{{ super() }}


<!-- Plots -->
{% if calc.is_active %}
<!-- Energy-Production -->
<script type="text/javascript">
    const energy_output = {{ calc.output }}
    $(function () {
        $('#energy-production').highcharts({
            chart: {
                type: 'line',
                backgroundColor: 'transparent'
            },
            title: {
                text: 'Energía producida por tu sistema',
                style: {
                    color: "white"
                },
            },
            credits: {
                enabled: false
            },
            xAxis: {
                categories: ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun',
                    'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic']
            },
            yAxis: {
                title: {
                    text: 'Energía (kWh)',
                    style: {
                        color: "white"
                    },
                },
                plotLines: [{
                    value: 0,
                    width: 2,
                    color: 'white'
                }]
            },
            tooltip: {
                valueSuffix: ' kWh'
            },
            legend: {
                enabled: false
            },
            series: [
                {
                    marker: {
                        symbol: 'circle',
                    },
                    data: energy_output,
                    color: '#eb8726'
                }]
        });
    });
</script>

<!-- Savings -->
<script type="text/javascript">
    const savings = {{ calc.savings }}
    $(function () {
        $('#savings-plot').highcharts({
            chart: {
                type: 'line',
                backgroundColor: 'transparent'
            },
            title: {
                text: 'Ahorro Potencial (MXN)',
                style: {
                    color: "white"
                },
            },
            credits: {
                enabled: false
            },
            subtitle: {
                text: "Lo que dejas de pagar por mes",
                style: {
                    color: "white"
                }
            },
            legend: {
                enabled: false
            },
            xAxis: {
                categories: ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun',
                    'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic'],
                style: {
                    color: "white"
                },
            },
            yAxis: {
                title: {
                    text: 'Ahorro (MXN)',
                    style: {
                        color: "white"
                    }
                },
                plotLines: [{
                    value: 0,
                    width: 2,
                }]
            },
            tooltip: {
                valueSuffix: ' MXN'
            },
            series: [
                {
                    type: 'column',
                    data: savings,
                    color: '#d35a1d'
                }]
        });
    });
</script>

<!-- SavingsPie -->
<script type="text/javascript">
    const network = {{ calc.energy_from_network }}
    const sun = {{ calc.energy_from_sun }}
    $(function () {
        $('#savings-pie').highcharts({
            chart: {
                plotBackgroundColor: null,
                backgroundColor: 'transparent',
                plotBorderWidth: null,
                plotShadow: false,
                type: 'pie',
            },
            title: {
                text: 'Consumo neto<br>anual',
                style: {
                    color: "white"
                },
            },
            color: "white",
            credits: {
                enabled: false
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: false
                    },
                    showInLegend: true,
                    color: 'white'
                },
            },
            legend: {
                itemStyle: {
                    'color': 'white',
                    'fontSize': '14px'
                }
            },
            tooltip: {
                valueSuffix: 'kWh',
                pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>',
            },
            series: [{
                name: 'Consumo',
                colorByPoint: true,
                data: [
                    {
                        name: 'De la Red',
                        y: network,
                        color: '#eb4f1e'
                    }, {
                        name: 'Del sol',
                        y: sun,
                        color: '#ffce3c'
                    }]
            }]
        });
    });
</script>
{% endif %}

{% endblock %}